{% extends 'pages/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Omnilegents - Acerca De" %}
{% endblock %}
{% block header_title %} {{ subtitle }} {% endblock %}
{% comment %} programado por: Andres Rua{% endcomment %}
{% block content %}
<div class="container">
  <div class="row">
    <p class="lead">{{title}}</p>
    <div class="col-lg-4 ms-auto">
      <p class="lead">{{ description }}</p>
    </div>
    <div class="col-lg-4 me-auto">
      <p class="lead">{% trans "Esperamos que te guste esta tienda" %}</p>
    </div>
    <div class="post-text-box text-black">
      <img src="https://assets.teenvogue.com/photos/5e6bffbbdee1770008c6d9bd/16:9/w_2560%2Cc_limit/GettyImages-577674005.jpg" 
           alt="{% trans "Libros about" %}" class="img-fluid" style="width: 350px;">
    </div>
  </div>
</div>
{% endblock %}