DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]      
DATABASE=mysql
SQL_ENGINE=django.db.backends.mysql
SQL_PORT=3306
SQL_DATABASE=db
SQL_ROOT_PASSWORD=123456789 # CHANGE THIS
SQL_USER=nram94                # do not use 'root'
SQL_PASSWORD=123456789     # CHANGE THIS
SQL_HOST=35.232.59.58