{% comment %} programado por: Andres Rua, Jose Valencia y Juan Pavas {% endcomment %}
{% extends 'pages/base.html' %}
{% block title %} {{title}} {% endblock %}
{% block header_title %} {{subtitle}}
{% comment %} {% if user.is_authenticated %}
    {% if user.tipo_usuario == 'Admin' %}
        <!-- Aquí colocas el contenido exclusivo para administradores -->
        <a class="nav-link active" href="{% url 'form' %}">Crear libros</a>
    {% endif %}
{% endif %} {% endcomment %}
{%endblock%}


{% block content %}


<div class="row">
  {% for libro in libros %}
  <div class="col-md-4 col-lg-3 mb-2">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_640.jpg" class="card-img-top img-card">
      <div class="card-body text-center">
        <a href="{% url 'show' id=libro.id %}"
          class="btn bg-primary text-black">{{libro.Titulo}}</a>
          <p>{{libro.precio}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
