{% extends 'pages/base.html' %}
{% load i18n %}

{% block title %} {{ title }} {% endblock %}
{% block header_title %} {{ subtitle }} 
{% if user.is_authenticated %}
        <hr> 
        <a class="nav-link active button-blue" href="{% url 'form' %}">{% trans "Crear libros" %}</a>
        {% comment %} !!! Revisar caso de Admin {% endcomment %}
        {% comment %} {% if user.tipo_usuario == 'Admin' %}
            <a class="nav-link active" href="{% url 'form' %}">{% trans "Crear libros" %}</a>
        {% endif %} {% endcomment %}
{% endif %}

{% endblock %}
{% comment %} programado por: Andres Rua, Jose Valencia y Juan Pavas {% endcomment %}

    


{% block content %}
{% comment %} Css {% endcomment %}
<style>
  .button-blue {
      display: inline-block;
      padding: 10px 20px;
      background-color: blue;
      color: white;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .button-blue:hover {
      background-color: darkblue;
  }
</style>

<div class="row">
  {% for libro in libros %}
  <div class="col-md-4 col-lg-3 mb-2">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/11/19/21/10/glasses-1052010_640.jpg" class="card-img-top img-card">
      <div class="card-body text-center">
        <a href="{% url 'show' id=libro.id %}"
          class="btn bg-primary text-black">{{ libro.Titulo }}</a>
          <br><br>
          <p>Precio: {{ libro.precio }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}