{% extends 'pages/base.html' %}
{% block title %} {{ title | translate }} {% endblock %}
{% block header_title %} {{ subtitle | translate }} {% endblock %}
{% comment %} programado por: Andres Rua {% endcomment %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
    <h1>{% trans "Libros disponibles" %}</h1>
    <ul>
      {% for libro in available_libros %}
        <li>
          {% trans "Id:" %} {{ libro.id }} - 
          {% trans "Título:" %} {{ libro.Titulo }} -
          {% trans "Precio:" %} {{ libro.precio }} -
          <form method="post" action="{% url 'cart_add' libro.id %}">
            {% csrf_token %}
            <button type="submit">{% trans "Agregar al carrito" %}</button>
          </form>        
        </li>
      {% endfor %}
    </ul>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12">
    <h1>{% trans "Libros en carrito" %}</h1>
      <ul>
        {% for libro in cart_libros %}
          <li>
            {% trans "Id:" %} {{ libro.id }} - 
            {% trans "Título:" %} {{ libro.Titulo }} -
            {% trans "Precio:" %} {{ libro.precio }}
          </li>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'cart_removeAll' %}">
        {% csrf_token %}
        <button type="submit">{% trans "Eliminar todos los libros del carrito" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}