{% extends 'pages/base.html' %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
{% comment %} programado por: Andres Rua, Jose Valencia y Juan Pavas {% endcomment %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">{% trans "Crear Notita" %}</div>
          <div class="card-body">
            {% if form.errors %}
                <ul id="errors" class="alert alert-danger list-unstyled">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" action="{% url 'formota' %}">
              {% csrf_token %}
              <input type="text" class="form-control mb-2" placeholder="{% trans "Ingresa el titulo de la nota" %}" name="titulo_nota" value="{{ form.data.titulo_nota }}" />
              <input type="text" class="form-control mb-2" placeholder="{% trans "Ingresa el contenido de la nota" %}" name="contenido_nota" value="{{ form.data.contenido_nota }}" />
              <input type="date" class="form-control mb-2" placeholder="{% trans "Ingresa la fecha de creacion de la nota" %}" name="fecha_creacion" value="{{ form.data.fecha_creacion }}" />
              <input type="date" class="form-control mb-2" placeholder="{% trans "Ingresa la fecha de modificacion de la nota" %}" name="fecha_modificacion" value="{{ form.data.fecha_modificacion }}" />
              <input type="submit" class="btn btn-primary" value="{% trans "Enviar" %}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}